[submodule "lib/c-logger"]
	path = lib/c-logger
	url = https://github.com/Diamond42474/c-logger.git
[submodule "tests/vendor/Unity"]
	path = tests/vendor/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
